bs4==0.0.2
requests==2.32.3
msal==1.31.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
dotenv==0.0.5
idna==3.10
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.0.1
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0